/T2-Elementos/nbproject/private/
/T2-ElementosGraficos/nbproject/private/
/ReenvioCorreo/dist/
/ReenvioCorreo/build/
/T2 - ElementosGraficos/Botones/nbproject/private/
/T2 - ElementosGraficos/Botones/build/
/T2 - ElementosGraficos/InterfazCV/nbproject/private/
/T2 - ElementosGraficos/InterfazCV/build/
/T2 - ElementosGraficos/InterfazCV/dist/
/T2 - ElementosGraficos/PracticaElementosGraficos/nbproject/private/
/T2 - ElementosGraficos/PracticaElementosGraficos/build/
/T2 - ElementosGraficos/PracticaElementosGraficos/dist/