<div class="container">
    <h1>APP WEB realizada por {{nombre}}</h1>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Contenido de la aplicación de DI </h1>
            <p class="lead">Esto es un ejemplo de aplicacación realizada con angular 8 para la asignarura de DI</p>
        </div>
    </div>

    <button type="button" class="btn btn-success btn-block" (click) = "cambiarTecnologia()">Ver tencnologías</button>

    

    <div class="row" *ngIf="mostrartecnologias">
        <div class="card" style="width: 18rem;" *ngFor="let item of elementos">
            <img [src]="item.getImagen()" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.getTitulo()}}</h5>
                <p class="card-text">{{item.getDescripcion()}}</p>
                <button href="#" class="btn btn-primary btn-block" (click) = "mandarmensaje(item)">ver detalle</button>
            </div>
        </div>

    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            DAM 1
        </label>
        <input class="form-check-input" style="margin-left:50px" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" style="margin-left:70px" for="exampleRadios2">
          DAM 2
        </label>
      </div>
      